body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-color: #121212;
}


.clockColumn{
    --position: 0;
    margin: 5px;
    transform: translateY(calc(var(--position) * -100px));
    transition: transform 0.8s;

}

.clockColumn.once{
    margin-right: 75px;
}

.clockSquare{
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0;
    background-color: 	#3D5A80;
    top: 30%;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px #99B2DD;
} 
.clockSquare span{
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    color:  #E0FBFC;
    position: absolute;
    top: 35%;

} 

.clockSquare.current{
    transition: background-color 0.2s;
    background-color: #FAAA8D;
} 
.clockSquare.current span{
    color: black;
}